@using Web_app_NEWS.Models
@model IEnumerable<NewsViewModel>




@{
    ViewBag.Title = "NEWS";
}




<div id="main_form">

    <h3>
        Новостная лента (With Ajax)
    </h3>



    <div>
        @using (Ajax.BeginForm("ForDinAjax", "Home", new  { }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "resultses" }))
        {
            <div>

                @Html.Label("DropDL", "Источник ленты:")

                @Html.DropDownList("Source_Name")


            </div>

            <div>


                <div id="CB_Left_Main">

                    <div id="CB_Left">
                        @Html.CheckBox("sortToDate")
                    </div>

                    <div id="Label_Left">
                        @*@Html.Label("sortToDate_Lable")*@
                        @Html.DisplayNameFor(model => model.sortToDate_Lable)
                    </div>

                </div>

                <div id="CB_Right_Main">

                    <div id="CB_Right">
                        @Html.CheckBox("sortToSource")
                    </div>

                    <div id="Label_Right">
                        @*@Html.Label("sortToSource_Lable")*@
                        @Html.DisplayNameFor(model => model.sortToSource_Lable)
                    </div>




                </div>

                <div id="DDL_Right_Main">
                    <div id="DropDL">
                        @Html.Label("Страница")
                        @Html.DropDownList("pageNumber")
                    </div>
                </div>

            </div>
            <input  type="submit" value="Просмотреть" />



        }
    </div>

    <div id="resultses"></div>




</div>


<script>
    $.ajax({
        url: '/Home/ForDinAjax',
        type: 'GET',
        success: function (html) {
            $("#resultses").after(html);
        },
        error: function (error) {
            $(that).remove();
            DisplayError(error.statusText);
        }
    });

</script>